
<nav id="sidebar">
    <div class="logo-name">
        <span class="logo_name">MathPou</span>
    </div>

    <div class="menu-items">
        
        <ul class="nav-links">
            <li><a href="{% url 'base:index' %}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Inicio</span>
                </a></li>

            <li><a href="{% url 'base:prueba-grafica' %}">
                    <i class="uil uil-files-landscapes"></i>
                    <span class="link-name">Gráficas de Ondas</span>
                </a></li>

            <li><a href="{% url 'base:prueba-data' %}">
                    <i class="uil uil-chart uil "></i>
                    <span class="link-name">Datos para gráfica</span>
                </a></li>

            <li><a href="{% url 'base:show-signal-data' %}">
                    <i class="uil-comment-exclamation"></i>
                    <span class="link-name">Ejemplos</span>
                </a></li>

        </ul>

        <ul class="logout-mode">
            <li><a href="{% url 'base:home' %}">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Cerrar Sesión</span>
                </a>
            </li>

        </ul>
    </div>
    
</nav>

