#formulario_datos {
    border: 2px solid #ccc; /* Grosor y color del borde */
    padding: 20px; /* Espaciado interno */
    width: 300px; /* Ancho del formulario */
    margin-left: auto; 
    margin-top: 50px;/* Centrar el formulario horizontalmente */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}
#formulario_datos label {
    display: block; /* Hacer que las etiquetas sean bloques para que estén en una línea */
    margin-bottom: 5px; /* Espaciado entre etiquetas */
}
#formulario_datos input[type="number"] {
    width: calc(100% - 10px); /* Ancho del input menos el padding */
    padding: 5px; /* Espaciado interno */
    margin-bottom: 10px; /* Espaciado entre inputs */
    border: 1px solid #ccc; /* Grosor y color del borde */
    border-radius: 5px; /* Bordes redondeados */
}
#formulario_datos button {
    padding: 10px 20px; /* Espaciado interno */
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Eliminar borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
}
#formulario_datos button:hover {
    background-color: #0056b3; /* Cambiar color de fondo al pasar por encima */
}




#plotly-chart {
    width: 100%; /* Ancho del contenedor */
    height: 400px; /* Altura del contenedor */
    margin-top: 20px; /* Espaciado superior */
    border: 1px solid #ccc; /* Grosor y color del borde */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}