{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row border rounded-5 p-3 bg-white shadow box-area">
        <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box"
            style="background: #2271FF;">
            <div class="featured-image mb-3">
                <img src="{% static 'img/register.svg' %}" class="img-fluid" style="width: 250px;">
            </div>
            <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">
                MathPou</p>
            <small class="text-white text-wrap text-center"
                style="width: 17rem;font-family: 'Courier New', Courier, monospace;">Simulador Fourier para estudiantes de ingeniería.</small>
        </div>

        <div class="col-md-6 right-box">
            <div class="row align-items-center">
                <div class="header-text mb-4">
                    <h2>Registro</h2>
                    <p>Estamos emocionados de tenerte aquí.</p>
                </div>
                <form id="signup-form" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="input-group mb-3">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.help_text %}
                            <small class="form-text text-muted"></small>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="input-group mb-3">
                        <button type="submit" class="btn btn-lg btn-primary w-100 fs-6">Registrarse</button>
                    </div>
                </form>
                <div class="row mt-3">
                    <small>¿Ya eres miembro? <a href="{% url 'base:login' %}">Inicia Sesión</a></small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/firebase-app.js' %}" type="module"></script>
<script src="{% static 'js/firebase-auth.js' %}" type="module"></script>
<script src="{% static 'js/registro.js'}" type="module"></script>
{% endblock extra_js %}
