{# formdata.html #}
<div id="formulario_datos">
    <form action="{% url 'grafica' %}" method="get">
        {% csrf_token %}

        <label for="amplitud1">Amplitud 1:</label>
        <input type="number" name="amplitud1" id="amplitud1" value="{{ request.GET.amplitud1 }}">

        <label for="tiempo1">Tiempo 1:</label>
        <input type="number" name="tiempo1" id="tiempo1" value="{{ request.GET.tiempo1 }}">

        <br>


        <label for="amplitud">Amplitud 2:</label>
        <input type="number" name="amplitud2" id="amplitud2" value="{{ request.GET.amplitud2 }}">
        <label for="tiempo">Tiempo 2:</label>
        <input type="number" name="tiempo2" id="tiempo2" value="{{ request.GET.tiempo2 }}">

<br>
        <label for="amplitud">Amplitud 3:</label>
        <input type="number" name="amplitud3" id="amplitud3" value="{{ request.GET.amplitud3 }}">
        <label for="tiempo">Tiempo 3:</label>
        <input type="number" name="tiempo3" id="tiempo3" value="{{ request.GET.tiempo3 }}">

        
       

       
        <label for="">Armoniaco:</label>
        <input type="number" name="armoniaco" id="armoniaco" value="{{ request.GET.armoniaco }}">
        <button type="submit">Crear gráfica</button>
          
    </form>

    <div id="formulas" aria-hidden="true">
        <p>
            \( x(t) = \frac{4 \times A}{\pi} \sum_{n=1}^{\infty} \frac{\sin((2n-1)\omega * t)}{2n-1} \)
        </p>
          
        <p>La estructura de la formula implementando los datos es la siguiente:</p>
        <p>
            \( x(t) = \frac{4 \times ({{ amplitud }})}{\pi} \sum_{n=1}^{\infty} \frac{\sin((2n-1)\omega * ({{ tiempo }}))}{2n-1} \)
        </p>
    </div>
</div>
