<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fourier Series Visualization</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/pulso.css"> <!-- Asegúrate de que la ruta a tu archivo CSS es correcta -->
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
</head>

<body>

    <!-- Contenedor para los sliders fuera del canvas -->
    <div id="slider-container" style="position: absolute; left: 0; top: 0;">
        <!-- Los sliders se añadirán dinámicamente aquí -->
    </div>

    <!-- Contenedor para el canvas -->
    <div id="canvas-container" style="margin-left: 120px;"> <!-- Ajusta el margen izquierdo según necesites -->
        <!-- p5.js insertará automáticamente el canvas aquí -->
    </div>

    <!-- Referencias a p5.js y tu archivo JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <script src="js/pulso.js"></script> <!-- Asegúrate de que la ruta a tu archivo JS es correcta -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
